@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@import "tailwindcss";


@theme {
    --color-Purple-100: hsl(254, 88%, 90%);
    --color-Purple-500: hsl(256, 67%, 59%);
    --color-Yellow-100: hsl(31, 66%, 93%);
    --color-Yellow-500: hsl(39, 100%, 71%);
    --color-BlackText: hsl(0, 0.00%, 7.10%)
    --text-Para: 18px;
    --text-mobile: 27px;
    --height-square-md: 290px;
    --width-square-md: 290px;
}

html {
    background: #F5F5F5;
}

@layer base {
    html {
      font-family: "DM Sans", sans-serif;
    }
    .attribution {
      font-size: 11px;
      text-align: center;
      padding: 10px;
    }
    .attribution a {
      color: hsl(228, 45%, 44%);
    }
  }
  